/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 32px;
}

.content-margin {
    margin-left: 8px;
    margin-right: 8px;
}





