/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 32px;
    background-color: rgb(165, 217, 233) ;
    color:hsl(327, 100%, 50%)
}

.content-margin {
    margin-left: 8px;
    margin-right: 8px;
}

html {
    font-size: 16px;
  }

.strike{
    text-decoration:line-through;
}

.row {color:hsl(327, 100%, 50%)}








